@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div class="login-wrapper">
        <div class="form-group text-center">
            <img src="/assets/images/userPic.png" alt="userPicture" class="profileImg"/>
        </div>
        <div class="form-group text-center"> <span class="open-popup">Hoşgeldin @User.Identity.Name!</span> </div>
        <div class="form-group text-center">

            <a href="#goToProfile" class="open-popup"><i class="icon icon-user"></i> Profilime Git</a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="open-popup" style="all:unset;cursor:pointer;font-size:12px"><i class="icon icon-exit"></i> Çıkış</button>
            </form>
        </div>
    </div>


}
else
{
<div class="login-wrapper">
        <div class="form-group">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-block btn-main">Giriş Yap</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-block btn-main">Üye Ol</a>
        </div>
    </div>
    }

