@model PaginationViewModel

    <div class="sort-results pull-left">
        <!--Items counter-->
        <span><strong>@Model.TotalItems </strong>üründen <strong>@Model.ItemsOnPage</strong> ürün görüntüleniyor (Sayfa @Model.CurrentPage/@Model.TotalPages)</span>
    </div>