@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<section class="userPagesNav"></section>


<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>Henüz üye olmadınız mı?</h4>
                        <p>Hemen üye olarak binlerce üründen dilediğinizi sipariş verin!</p>
                        <a class="button button-account" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Hesap Oluştur</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>ÜYE GİRİŞİ</h3>
                    <form class="row login_form" id="account" method="post">
                        <div class="col-md-12 form-group">
                            <input asp-for="Input.Email" class="form-control" placeholder="E-Posta" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input asp-for="Input.Password" class="form-control" placeholder="Şifre" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                @*<input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Oturumumu açık tut</label>*@
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe"/>
                                    <label for="Input_RememberMe">Oturumumu açık tut</label>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-login w-100">Giriş Yap</button>
                            <a asp-page="./ForgotPassword">Şifremi Unuttum</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
